
.form-center {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #f4f4f4;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px #0001;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

input, select {
  padding: 5px;
}

button {
  padding: 8px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
